{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <h1>About Us</h1>

    <p> Welcome to</p>
	<pre>Symfony 4.2.12
		Your application is now ready. You can start working on it at:
	</pre>
   
{% endblock %}
